.form-loader {
  display: flex;
  gap: 4px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-loader > div {
  width: 10px;
  height: 24px;
  background-color: #ffffff;
  animation: form-loader-scale 1000ms infinite ease-in-out;
}

.form-loader > div:nth-child(1) {
  animation-delay: 0ms;
}

.form-loader > div:nth-child(2) {
  animation-delay: 333.3333333333333ms;
}

.form-loader > div:nth-child(3) {
  animation-delay: 666.6666666666666ms;
}

@keyframes form-loader-scale {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
}
