@use '@/assets/styles/mixins/forms' as *;

.left-panel-container {
  .left-panel__search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60px;
    background-color: #fafafa;
    color: #e0e0e0;
    border-bottom: solid 1px #e0e0e0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

    .left-panel__search-input {
      @include form-input;
      width: 80%;
      height: 34px;
      border-radius: 50px;
    }
  }

  .left-panel__user-button {
    width: 100%;
    height: 60px;
    background-color: #fafafa;
    border: none;
    border-bottom: solid 1px #e0e0e0;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;

    &:hover {
      background-color: white;
    }
  }

  .left-panel__user-button--active {
    background-color: #fff;
    border-right: 5px solid #c572f8;
  }

  :deep(.user-panel__name) {
    color: #505050;
  }

  .left-panel__no-results,
  .left-panel__no-chats {
    margin-top: 10px;
    text-align: center;
    color: #848484;
  }
}
