@use '@/assets/styles/mixins/forms' as *;

.right-panel-container {
  display: flex;
  height: calc(100vh - 60px);
  background-image: url('../../img/jpg/background-chat.jpg');
  position: relative;

  .right-panel__left-arrow-icon,
  .right-panel__header-left-arrow-icon {
    display: none;
    border: none;
    background: none;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    svg {
      width: 35px;
      height: 35px;
    }

    @media (max-width: 540px) {
      display: block;
    }
  }

  .right-panel__left-arrow-icon svg {
    display: none;
    width: 35px;
    height: 35px;

    @media (max-width: 540px) {
      display: block;
      position: absolute;
      left: 12px;
      top: 12px;
    }
  }

  .right-panel__empty-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    text-align: center;

    .empty-state__description {
      color: #505050;
      font-size: 2em;
      font-weight: bold;
    }
  }

  .right-panel__chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;

    .right-panel__sidebar-close-button {
      display: none;

      @media (max-width: 540px) {
        display: inline-block;
      }
    }

    .right-panel__delete-button {
      background: none;
      border: none;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      svg {
        width: 40px;
        height: 40px;
      }
    }

    .right-panel__chart-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ddd;
      background-color: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(1px);
      padding: 10px;
      height: 60px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

      .user-panel__name {
        color: #505050;
      }
    }

    .right-panel__empty-chat {
      margin-top: 10px;
      color: #848484;
    }

    .right-panel__messages {
      padding: 20px 20px 0px 20px;
      height: 100%;
      overflow: auto;

      .right-panel__message {
        width: 60%;
        margin: 0 auto;
        @media (max-width: 700px) {
          width: 100%;
        }
      }

      .right-panel__date-container {
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-bottom: 40px;

        .right-panel__date {
          display: inline-block;
          width: 150px;
          padding: 6px 0px;
          border-radius: 20px;
          background: #666;
          color: #fff;
          font-weight: bold;
          font-size: 14px;
        }
      }

      .right-panel__message-content {
        .right-panel__message-text-container {
          display: flex;
          position: relative;
          margin-bottom: 30px;

          .right-panel__message-time {
            position: absolute;
            bottom: -14px;
            font-size: 12px;
            color: #505050;
          }
        }

        .right-panel__message-text--sender {
          justify-content: flex-end;

          .right-panel__message-text {
            padding: 10px 15px;
            background-color: #9a78d8;
            border-radius: 20px 20px 5px 20px;
            color: #fff;
            max-width: 70%;
            font-weight: 500;
          }
        }

        .right-panel__message-text--receiver {
          justify-content: flex-start;

          .right-panel__message-text {
            padding: 10px 15px;
            background-color: #dfdfdf;
            border-radius: 20px 20px 20px 5px;
            color: #505050;
            max-width: 70%;
            font-weight: 500;
          }
        }
      }
    }

    .right-panel__input {
      position: relative;
      display: flex;
      justify-content: center;
      gap: 8px;
      border-top: 1px solid #ddd;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(1px);
      box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);

      .right-panel__textarea {
        width: 70%;

        @include form-input;
        // flex: 1;
        resize: none;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-family: inherit;
        font-size: 1rem;
      }

      .right-panel__send-button {
        display: flex;
        padding: 8px;
        background-color: #9a78d8;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        border-radius: 50%;

        svg {
          width: 25px;
          height: 25px;
        }

        &:hover {
          background-color: #9465e6;
        }
      }
    }
  }
}
