@use '@/assets/styles/mixins/forms' as *;

.registration-form-layout {
  @include form-layout;
}

.registration-container {
  @include form-container;
}

.registration-main-link {
  @include form-main-link;
}

.registration-form__title {
  @include form-title;
}

.registration-form__form {
  @include form;
}

.registration-form__input-group {
  @include form-input-group;
}

.registration-form__input-group-item {
  @include form-input-group-item;
}

.registration-form__label {
  @include form-label;
}

.registration-form__input {
  @include form-input;
}

.registration-form__input-error {
  @include form-input-error;
}

.registration-form__button {
  @include form-button;
}

.registration-form__error {
  @include form-error;
}

.registration-form__warning {
  background-color: red;
  border-radius: 4px;
  padding: 4px;
  font-size: 12px;
  color: white;

  @media (max-width: 540px) {
    font-size: 14px;
  }
}
