.logo-container {
  display: flex;
  align-items: center;

  .logo-text {
    font-size: 3rem;
    font-weight: bold;
    color: white;
  }

  @media (max-width: 540px) {
    justify-content: center;
  }
}

.logo-container-auth {
  display: flex;
  align-items: center;

  .logo-image {
    width: 45px;
    height: 45px;

    @media (max-width: 420px) {
      width: 35px;
      height: 35px;
    }
  }

  .logo-text {
    font-size: 1.6rem;
    font-weight: bold;
    color: white;

    @media (max-width: 540px) {
      font-size: 1.4rem;
    }

    @media (max-width: 420px) {
      font-size: 1rem;
    }
  }
}

.logo-container-auth {
  @media (max-width: 420px) {
    flex-direction: column;
  }
}
