.form__toggle-password {
  position: absolute;
  top: 34px;
  right: 20px;
  border: none;
  background: none;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    opacity: 0.8;
  }
}
